.chatting_area{
    //채팅리스트
    .chatting_list { border:1px solid red; 
        >li { margin-top: 35px; position: relative; padding-left: 55px;
            &:first-child { margin-top:0;}
            span { display:inline-block; }

            .chat_img { position: absolute; left:0; top:0; width: 45px; height: 45px; overflow:hidden; border-radius: 100%;
                img { width:100%; height: 100%; }
            }
            .chat_name { font-size: 15px; font-weight: 500; color:#000;}
            .icon { @include sp_icons($icon_label_s); vertical-align: top; margin: 1px 0 0 5px;}
        }
    
    }

}