.chatting_area{
    //채팅리스트
    .chatting_list { 
        >li { margin-top: 30px; position: relative; padding-left: 55px;
            &:first-child { margin-top:0;}

            .chat_img { position: absolute; left:0; top:0; width: 45px; height: 45px; overflow:hidden; border-radius: 100%; display:inline-block;
                img { width:100%; height: 100%; }
            }
            .chat_name { font-size: 15px; font-weight: 500; color:#000; width: calc(100% - 70px);}
            .icon { display:inline-block; @include sp_icons($icon_label_s); vertical-align: top; margin: 1px 0 0 5px;}
            .chat_category { font-size: 13px; color:#999999; font-weight: 300; display:block;margin-top: 4px;}
            .chat_view { display:inline-block; color:#010101; font-size: 13px; position: relative; margin-top: 14px; width: 100%;
                .txt { padding-right: 70px; display:inline-block; width: calc(100% - 70px); overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
                .count { position:absolute; right:0; top:0; font-size: 10px; font-weight: 500; color:#fff; background:#ff5c5c; height: 17px; line-height: 17px; border-radius:  15px; min-width: 28px; text-align: center; }
            }
            .time { position:absolute; top:0; right:0; font-size: 13px; color:#999999;}
        }
    
    }

}