.serv_visual {
    img {width:100%;}
}
.border_top10 {border-top:10px solid #f5f5f5;}
.serv_wrap {
    .visual_tit {position: absolute; z-index:1; right:0; margin-top:-20px; padding:0 25px; line-height: 40px; height:40px; color:#fff; background:$colorP;}
    .serv_detail {
        .serv_info {padding:20px 0;
            .name {font-size:23px; font-weight: 700;}
            .desc { font-size:15px; margin-top:8px;}
            .reaction { @include clearfix(); margin-top:15px;
                li { font-size:15px; float:left; position: relative; padding-left:20px; margin-right:28px;
                    &:last-child {margin-right:0;}
                    em {color:$colorP;}
                    &.like:after {content:''; @include sp_icons($serv_01); display:block; position: absolute; top:2px; left:0;}
                    &.review:after {content:''; @include sp_icons($serv_02); display:block; position: absolute; top:2px; left:0;}
                    &.reply:after {content:''; @include sp_icons($serv_03); display:block; position: absolute; top:2px; left:0;}
                }
            }
        }
        .expert_wrap { padding-bottom:25px; padding-top:5px;
            .introduce {padding:30px 0 30px 90px; position: relative; 
                background:url('/resources/images/common/dot_line_hor.png') repeat-x left bottom; background-size:4px;
                .pf_photo {position: absolute; top:50%; margin-top:-35px; left:0; width:70px; height:70px; border-radius: 35px; overflow: hidden;
                    img {width:100%;}
                }
                .txt {font-size:15px; line-height: 22px; font-weight: 700;}
            }
            .ability {font-size:15px; padding-top:15px; margin-bottom:13px;}
        }
        .serv_tab_wrap {
            .tab_wrap { @include clearfix();
                .tab_btn {width:33.3333%; float:left; text-align: center;
                    &.on a {padding-bottom:13px; border-bottom:5px solid $colorP;}
                    a {display:block; padding:18px 0 18px; }
                }
            }
            .tab_cont {display:none;
                &.on {display:block;}
            }
        }
        .serv_basic_info {padding:25px 0;}
    }
    .serv_tit {font-size:19px; font-weight: 500;
        &.under_point { padding-bottom:15px; position: relative;
            &:after {content:''; width:20px; height:2px; background:#000; position: absolute;bottom:0; left:0;}
        }
    }
    .serv_menu_tit { position: relative; padding-top:17px; font-weight: 500; font-size:15px;
        &:after {content:''; position: absolute; left:0; top:0; width:20px; height:2px; background:#000;}
    }
    .serv_menu_cont {margin-top:10px; position: relative; padding-right:115px;
        .menu_txt {font-size:15px;}
        .menu_price { position: absolute; right:0; top:50%; margin-top:-12px; font-weight: 700; font-size:19px; 
            .unit {font-size:15px;font-weight: 400; padding-left:2px;}
        }
    }
    .serv_txt {font-size:15px; font-weight: 300;}

    .serv_review_wrap {padding-bottom:30px;
        .review_total_like { position: relative;
            .like_count {position: absolute; right:0; top:0; padding-left:32px;
                &:after {content:''; position: absolute; left:0; top:0; @include sp_icons($review_like)}
            }
        }
        .review_list {
            li {position: relative;
                .writer {position: relative; padding-left:62px; padding-top:20px; padding-bottom:20px;
                    .pf_photo {position: absolute; top:50%; margin-top:-25px; left:0; width:50px; height:50px; border-radius: 25px; overflow: hidden;
                        img {width:100%;}
                    }
                    .re_name {font-size:15px; font-weight: 500; }
                    .re_date {color:#999999; font-size:13px; margin-top:4px;}
                    .review_like { position: absolute; right:0; top:50%; margin-top:-25px;
                        .btn_review_like {padding:5px 5px 5px 20px; height:30px; position: relative; display:block; float:left; font-size:15px; color:$colorP; font-weight: 500;
                            &:after {content:''; @include sp_icons($serv_01); position: absolute; top:50%; left:0; margin-top:-8px; }
                        }
                        //.like_count { line-height: 30px; display:block;float:left; vertical-align: top; margin-left:-2px;}
                    }
                }
                .review_cont {
                    // @include ellipsis_line(3);
                }
                .reply { position: relative; padding-left:35px;
                    .re_name {font-size:15px; font-weight: 500; position: relative; margin-bottom:10px;
                        &:after {content:''; position: absolute; left:-15px; top:2px; width:9px; height:9px; display:block; border-bottom:2px solid #060f18;border-left:2px solid #060f18; box-sizing: border-box;}
                     }
                    .re_date {color:#999999; font-size:13px; position: absolute; right:0; top:0px;}
                }
            }
        }
    }
}
.serv_dot_border {
    &.fst_pt0 li:first-child{ padding-top:0;}
    > li { padding:17px 0;
        background:url('/resources/images/common/dot_line_hor.png') repeat-x left bottom; background-size:4px;
        &:last-child {background: none;}
    }
}
.movieWrap { position: relative;
    .movie_play { position: absolute; top:50%; left:50%; margin-left:-25px; margin-top:-25px; width:50px; height:50px; background:$colorP; border-radius: 25px;
        &:after{ content:''; @include sp_icons($ic_play); position: absolute; left:50%; top:50%; margin-top:-8px; margin-left:-4px;}
    }
    
    img {width:100%;}
}

.service_bottom { padding-left:110px; height:55px;
    .btn_chat {width:55px; height:55px; display:block; position: absolute; left:0; top:0; background:#f5f5f5; border-right:1px solid #fff; box-sizing: border-box;
        &:after {content:''; @include sp_icons($ic_chatting); position: absolute; top:50%; left:50%; margin-left:-12px; margin-top:-12px;}
    }
    .btn_tel {width:55px; height:55px; display:block; position: absolute; left:55px; top:0;background:#f5f5f5;
        &:after {content:''; @include sp_icons($ic_tel); position: absolute; top:50%; left:50%; margin-left:-12px; margin-top:-12px;}
    }
}

.review_more_wrap { 
    text-align: center;padding:15px; background:url('/resources/images/common/dot_line_hor.png') repeat-x left top; background-size:4px;
    .btn_review_more { padding:5px 35px 5px 10px; font-size:15px; font-weight: 500; position: relative;
        .count {color:$colorP;}
        &:after {content:''; position: absolute; right:10px; top:50%; margin-top:-4px; @include sp_icons($arrow_down_sm);}
     }
}

.more_wrap {  text-align: center; border-top: 10px solid #f5f5f5; padding: 15px;
    
}
 
//취소환불정책
.txt_policy {
    dt { font-size: 17px; font-weight: 500; margin-bottom: 10px;}
    dd { font-size: 15px; line-height:23px; word-break: keep-all; }
}


.filter_wrap {
    .filter_tit {font-size:15px; font-weight: 500; margin-bottom: 5px;}
    .filter_list { @include clearfix(); border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;
        li {position: relative; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; width:33.3333%; height:40px; float:left;}
    }
    input.inp_filter {position: absolute; opacity: 0; width:0; height:0;}
    input.inp_filter + label.inp_filter {position:absolute; top:-1px; left:-1px; width:calc(100% + 2px); height: calc(100% + 2px); display:block;line-height: 40px; text-align: center; font-weight: 300;}
    input.inp_filter:checked + label.inp_filter {background:url('/resources/images/common/point_bg.jpg') left top; background-size: 100% 100%; color:#fff; font-weight: 500;}
}

.irs--modern .irs-line {background:#e5e5e5; border:none; margin: 0 5px;}
.irs--modern .irs-bar {border:none; border-radius:2px; background:url('/resources/images/common/point_bg.jpg') no-repeat left top; background-size:100% 100%;}
.irs--modern .irs-from, .irs--modern .irs-to, .irs--modern .irs-single {font-size:13px;background-color:$colorP; padding:2px 6px; top:-11px;
    &:before {border-top-color:$colorP;}
}
.irs--modern .irs-handle { border:none; box-shadow: none; background:none !important;
    &:after {content:''; position: absolute; width:25px; height:25px; background: #ff5c5c; display:block; top:-21px; left:-7px; border-radius: 13px;}
    &.to:after {background:#e445ab;}
    i {display:none !important;}
}
.irs--modern .irs-grid-pol {display:none;}
.irs--modern .irs-grid-text {color:#000; font-size:13px; 
    &.js-grid-text-0 {margin-left:-10px !important;}
    &.js-grid-text-1 {margin-left:0 !important; margin-right:-10px; right:0; left:auto !important;}
}
.irs--modern.irs-with-grid {height:60px; margin-top:20px;}

//서비스검색
.service { 
    .service.thum_list { margin-left:20px;}
}
.list_category_main { position: relative; width: 100%; overflow-x: auto; overflow-y: hidden; white-space: nowrap; -webkit-overflow-scrolling: touch;
    ul { width: 100%; font-size: 0; line-height: 0; white-space: nowrap; margin-left: 25px;border-bottom: 5px solid #f5f5f5;
        li { position: relative; display: inline-block;clear: both; margin-left: 5px; 
            &:first-child { margin-left: 0;
                a { padding-left: 0;}
            }
            a { display:inline-block; color:#999; font-size: 14px; line-height: 26px; padding:0 12px 7px;}
            &.on {
                a { color:$colorP; position: relative;
                    &::before { content:''; display:inline-block; position:absolute; left:0; bottom:-5px; right:0px; height: 5px; background:$colorP;}
                }
            }
        }
    }
}
.list_category_sub { position: relative; width: 100%; overflow-x: auto; overflow-y: hidden; white-space: nowrap; -webkit-overflow-scrolling: touch;
    ul { width: 100%; font-size: 0; line-height: 0; white-space: nowrap; margin-left: 30px;
        li { position: relative; display: inline-block;clear: both; margin-left: 5px;
            &:first-child { margin-left: 0;}
            a { display:inline-block; border:1px solid #e5e5e5; border-radius: 18px; color:#999; font-size: 12px; padding:0 15px; line-height:28px;}
        }
    }
}


//장바구니
.shopping_basket {
    h2 { font-size: 19px; font-weight:700;}
    .shopping_list { border-top: 1px solid #05050b;
        &.no_line { border-top:0;}
        li { border-top:1px dashed #c5c5c7; padding: 15px 5px;
            &:first-child { border-top:0;}
        }
    }
}

//도트라인
.list_type_line { border-top: 1px solid #05050b; 
    &.no_line { border-top:0;}
    li { border-top:1px dashed #c5c5c7; padding: 15px 0;
        &:first-child { border-top:0;}
        .sub_tit { font-size: 15px; border-bottom: 1px solid #05050b; padding-bottom: 10px;}

        //form
        .form_list { margin-right: 25px;
            dt, dd { font-size: 15px;}
            dd {
                .form_list_info { margin-top: -15px;
                    dt, dd { margin-top: 13px; }
                }
            }
        }
    }

    &.fs15 {
        li { font-size: 15px; line-height: 23px;}
    }
}

//정보들
.list_name { position: relative;
    .name { width:calc(100% - 70px); font-size: 15px; font-weight: 300; line-height: 22px;
        b { font-weight: 500; display:block;}
    }
    .name_full { width:100%; font-size: 15px; font-weight: 300; line-height: 22px;
        b { font-weight: 500; display:block;}
    }
    .price { font-size: 17px; display:block; margin-top: 5px; font-weight: 500;}
    .txt_del { position: absolute; right:0; top: 50%; margin-top: -19px; padding: 10px 25px; color:$colorP; font-size: 15px; font-weight: 500;}
}

//formbox
.form_box {
    h2 { font-size: 19px; font-weight:700;}
}
.line_box { border:1px solid #bbbbbd; text-align:center; font-size: 15px; color: #000; line-height:23px; padding: 10px;}
.dot_line_txt { border-top:1px dashed #c5c5c7; padding-top: 5px; }
.price_box  { display:block; background:#f5f5f5; padding: 15px 25px;
    .total_sum {  float:left; margin-top: 3px; font-weight: 300; font-size: 15px;
        b { font-weight: 500;}
    }
    .total_price { text-align:right; font-size: 15px; font-weight: 300;
        span { font-size: 19px; font-weight: 500;}
    }
}

//서비스받을주소
.service_add { position: relative; background:#f5f5f5; padding:16px 20px 15px; 
    .add { width: calc(100% - 70px); font-size: 15px; font-weight: 300; line-height: 22px; font-size: 15px; }
    .txt_del { position: absolute; right: 0; top: 50%; margin-top: -19px; padding: 10px 25px; color: #ff5c5c; font-size: 15px; font-weight: 500;}
}

//예약완료
.buy_booking { padding: 35px 0;
    .end {  text-align:center;
        &:before { content:''; margin:0 auto 15px; display:block; @include sp_icons($icon_end); }
        span { font-size:19px; font-weight: 700;}
        p { font-size: 15px; line-height: 23px;  padding-top: 14px;}
    }
}

//
.big_title_box { display:block; overflow:hidden; padding: 23px 25px;
    .sub_tit { font-size: 15px; float:left; font-weight: 500; }
    .price { float: right; font-size: 15px; margin-top: -4px;
        span { font-size: 19px; color:$colorP; font-weight: 700;}
    }
    .check { float: right; margin-top: -3px; }
}

//정보성마크업
.info_style {
    dt, dd { font-size: 15px; padding: 5px 0 6px ; }
    dt { width: 75px; float:left; font-weight: 500;}
    dd { margin-left: 75px; font-weight: 300;}

    dt.full { width: 100%; display:block; float:none;}
    dd.full { width: 100%; display:block; float:none; margin-left:0; margin-bottom: 15px;}
}

//서비스 예약
.reserve_area { 
    h2 { font-size: 19px; font-weight:700; margin-bottom: 20px;}
    h3 { font-size: 15px; font-weight: 500; margin-bottom: 10px;}

    .reserve_list { border-top: 1px solid #05050b; border-bottom: 1px solid #c7c7c9;
        &.no_line { border:0;}
        &.no_bt_line { border-bottom:0; }
        li { border-top:1px dashed #c5c5c7; padding: 15px 0;
            &:first-child { border-top:0;}

            label { display:block !important; padding:0 85px 0 0 !important; 
                span { display:block; font-size: 15px; font-weight: 300;}
                em {  font-size: 17px; display:block;  font-weight: 500;}
            }
            input[type="checkbox"].chk + label.chk:after { left: auto; right: 25px;}
        }
    }
}


.reserv_result { padding:20px 0; text-align: center; min-height:60px; 
    span {color:$colorP; font-size:15px; font-weight: 500; }
}
.reserv_info { @include clearfix(); margin-top:20px;
    li {float:left; padding-left:19px; position: relative; margin-right:20px;
        &:after {content:''; width:15px; height:15px; border-radius: 7px; display:block; position: absolute;left:0; top:50%; margin-top:-7px;}
        &.disabled:after {background:#f5f5f5;}
        &.today:after {background:#272727;}
        &.selected:after {background:$colorP;}
    }
}
.select_time { padding-bottom:30px; padding-top:30px;
    .time_tit {font-size:21px; font-weight: 700; margin-bottom:10px;}
    .time_check_list { @include clearfix();
        li {width:25%; padding-right:3px;padding-bottom:3px; float:left; position: relative;
            input[type="checkbox"].chk_time {opacity: 0; position: absolute; left:0;top:0; width:0; height:0;}
            input[type="checkbox"].chk_time + label.chk_time {
                display:block; border:1px solid #e5e5e5; font-size:15px; text-align: center; padding:7px 0;
            }
            input[type="checkbox"].chk_time:checked + label.chk_time {
                background:#ff5c5c; border-color:#ff5c5c; font-weight: 400; color:#fff;
            }
            input[type="checkbox"].chk_time:disabled + label.chk_time {
                background:#f5f5f5; color:#999;
            }
        }
    }
}



.cate_tit { font-size:18px; font-weight: 500; color:#000;}
.category_list {@include clearfix();
    li {float:left; width:25%; text-align: center; margin-top:18px; height:85px;
        .cate_link { position: relative; padding-top:65px; display:inline-block; min-width: 55px;
            &:after {content:''; position: absolute; top:0; left:50%; margin-left:-27px;}
            &.ic_cl1:after { @include sp_category($cate01)}
            &.ic_cl2:after { @include sp_category($cate02)}
            &.ic_cl3:after { @include sp_category($cate03)}
            &.ic_cl4:after { @include sp_category($cate04)}
            &.ic_cl5:after { @include sp_category($cate05)}
            &.ic_cl6:after { @include sp_category($cate06)}
            &.ic_cl7:after { @include sp_category($cate07)}
            &.ic_cl8:after { @include sp_category($cate08)}
        }
    }
}



