/* footer.scss */
#footer { background:#EFEFEF; display:block; padding: 27px 24px; position: relative; margin-top: 80px;
    // .inner { min-width: $G-width; border-top:1px solid #cccccc; }
    // .footer-inner  { position: relative; height: 80px;}
    // .copyright { padding-top: 25px;}
    // .footer-btnset { position: absolute; top:20px; right: 0;
    //     .btn, .select-box { display: inline-block; width: 133px; 
    //         select { width: 133px; min-width: 133px;}
    //     }
    // }

    .h2_logo { font-size: 0; width: 115px !important; height: 21px !important;background:url('/resources/images/common/h2_footer_logo.png') no-repeat center; background-size:100%;
		a { display:block; height:100%;}
    }
    .opne_text { position: absolute; right: 24px; top: 27px; font-size: 14px; padding-right: 15px;
        &:after { content:''; display:inline-block; position: absolute; right:0; top: 50%; margin-top: -3px;  @include sp_icons($arrow_up_md); transition: .2s transform;
            transform: rotate(180deg); }
    } 
    
    .open_cont {
        &.on { 
            .opne_text { 
                &:after { transform: rotate(0deg); }
            } 
            .inner { display:block;}
        }
    }

    .inner { font-size: 12px; color:#777; line-height: 18px; margin-top: 15px; display:none;
        address { font-style: normal; display: inline-block;
            span { vertical-align: middle; line-height: 18px;
                &:after {content: ''; display:inline-block; width:1px; height: 10px; background: #777; margin:0 6px 0;} 
                &.nobar { 
                    &:after {content: ''; display:none;}
                }
            }
            .copy { font-size: 12px; line-height: 18px; margin-top: 5px;}
        }
    }
    .footer_txt {  margin-top: 16px; font-size: 12px;}
}
.top_scroll { display:none; position: fixed; bottom:30px; right: 15px; z-index:10; width: 65px; height: 65px; border-radius: 100%; border: 1px solid #dbdbdb; background:#fff; font-size: 0; text-align:center; box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
    &::before { content:''; display:inline-block; @include sp_icons($icon_top); vertical-align: top; margin-top: 22px;} 
}
.btn_cart {width:65px; height:65px; border-radius:33px; display:block; position: fixed; bottom:100px; right:15px; z-index:10; font-size: 0; text-align:center; box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
    .num {display:block; position: absolute; border-radius: 9px; width:18px; height:18px; background:#fff; color:$colorP; font-size:13px; text-align: center;  line-height: 18px; top:15px; left:35px; font-weight: 500;}
    &:before {content:''; display:block; @include sp_icons($ic_cart); position: absolute; left:0; top:0;}
}
