


.header { height:65px; width:100%;
  .header_fixed_group {height:65px; background:#fff; position:fixed; top:0; left:0; width:100%; z-index:100;}
  .header_rel_group {height:65px; background:#fff; position: relative;; top:0; left:0; width:100%; z-index:1;}
  .border_bottom { border-bottom:1px solid #edebe9;}
  .top_bar {position: relative; 
    .locations {padding:0 40px;
      .sub_title {  line-height: 65px; font-size: 15px;
        &.exp_main_tit {
          img {width:119px; margin-top:21px; margin-right:10px;}
        }
      }
      .logo { width:108px; margin-top:25px;}
    }
    
     
    .top_left {position: absolute; left:0; top:0;}
    .top_right {position: absolute; right:0; top:0; vertical-align: middle;
      .btn_report, .btn_del, .btn_all_more, .btn_filter { margin: 18px 25px 0 0;}
      .select_wrap { margin-top:20px; margin-right:25px;}
    }
    .history_back {  display:block; padding:27px 10px 28px 24px;
      &:before {content:''; display:block; @include sp_icons($history_back);}
    }
    .btn_share { display:block; padding:5px; float:left;margin-top:16px; margin-right:15px;
      &:after {content:''; display:block; @include sp_icons($ic_share)}
    }
    .btn_save_n_exit {display:block; padding:5px 5px 5px 20px; float:left;margin-top:16px; margin-right:15px; position: relative;
      &:after {content:''; display:block; @include sp_icons($ic_save); position: absolute; top:50%; margin-top:-8px; left:0;}
    }
    .filter_reset {display:block; padding:5px 5px 5px 20px; float:left;margin-top:16px; margin-right:15px; position: relative;
      &:after {content:''; display:block; @include sp_icons($ic_reset); position: absolute; top:50%; margin-top:-8px; left:0;}
    }
    .serv_like_wrap { display:block;float:left;margin-top:16px; padding-right:25px;
      .link_num {line-height: 31px; font-size:15px; display:inline-block; vertical-align: top;}
    }
    .btn_like {display:inline-block; padding:7px;
      &:after {content:''; display:block; @include sp_icons($sm_like)}
      &.on {
        &:after {@include sp_icons($sm_like_on)}
      }
    }
    .btn_search {display:block; padding:23px 16px;
      &:before {content:''; display:block; @include sp_icons($ic_search);}
    }
  }
}

#gnb .nav_box {height: 100%; width: 0; position: fixed; z-index: 100; top: 0; left: 0;background-color: #111;overflow-x: hidden;padding-top: 60px;transition: 0.5s; 
  &.on {width:100%;}
  a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #818181;display: block;transition: 0.3s;  }
  a:hover {color: #f1f1f1;}
  .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
}

.wrapper {
  &.content_push {
    #contents {transform:translateX(100px)}
    #header .header_fixed_group {transform:translateX(100px)}
  }
}

#contents , #header .header_fixed_group {transition: 0.5s;}