/* ======================== input text  */
/* placeholder */
// ie
input[type="text"].placeholdersjs,input[type="password"].placeholdersjs,input[type="number"].placeholdersjs,input[type="email"].placeholdersjs,
textarea.placeholdersjs { color: $colorA; }
// Internet Explorer 10 이상에 적용
input[type="text"]:-ms-input-placeholder      ,input[type="password"]:-ms-input-placeholder      ,input[type="number"]:-ms-input-placeholder      ,input[type="email"]:-ms-input-placeholder      ,
textarea:-ms-input-placeholder{ color: $colorA; }
//  Webkit, Blink, Edge에 적용
input[type="text"]::-webkit-input-placeholder ,input[type="password"]::-webkit-input-placeholder ,input[type="number"]::-webkit-input-placeholder ,input[type="email"]::-webkit-input-placeholder ,
textarea::-webkit-input-placeholder    { color: $colorA; } 
// Mozilla Firefox 4 부터 18에 적용
input[type="text"]::-moz-placeholder          ,input[type="password"]::-moz-placeholder          ,input[type="number"]::-moz-placeholder          ,input[type="email"]::-moz-placeholder          ,
textarea::-moz-placeholder             { color: $colorA; } 

// input style
em.star { display: inline-block; height: 14px; padding: 0 5px; color: #f24848; font-weight: bold; }
input[type="text"], input[type="password"],input[type="number"], input[type="email"] {
    width: 100%; height: $formH; padding: 4px 16px 4px;
    font-size: 15px; vertical-align: middle;
    font-weight: 400;
    border: 1px solid $lineC_d; outline: none; background-color: $formBG;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* ======================== focus, ,disabled, input_error */
input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="email"]:focus { border-color: $lineC_f; }
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled { background  : $formBG; }  
input[type="text"][readonly], input[type="password"][readonly], input[type="number"][readonly], input[type="email"][readonly] { background  : $formBG; }   
input[type="text"].error,input[type="password"].error,input[type="number"].error,input[type="email"].error   { border-color: $lineC_e; }
.input-box{ position: relative;  vertical-align: top;
    .check_byte-w { padding-right:  90px !important; }
    .check_byte-h { padding-bottom: 50px !important; }
    label, .dash  { display: inline-block; padding: 8px 20px 8px ; box-sizing: border-box; }
    label:frist-child { padding-left: 0;  }
    .dash { padding: 8px 0px 8px 0px; } 
    input[type="text"], input[type="password"] { padding: 8px 15px 8px ;  }
    .btn { margin-top:-1px;}
    .byte_check { position: absolute; top:10px; right:15px;
        em   { vertical-align: middle; font-size:14px;  color: #e90000; }    
        span { vertical-align: middle;  font-size:14px; }    
    }
}

.input_post { position: relative; display:block;
    button.btn { position: absolute; top:0; right:0; display:inline-block; width:auto;}
}
.input_tel { position: relative; display:block;
    select { position: absolute; top:0; left:0; z-index: 1;  }
    input {padding-left:115px;}
}

/* input 삭제 */
.input_del { position: relative; display: inline-block; width: 100%;
    input { padding-right: 30px; }
    button { position: relative;  display: none; position: absolute; top:50%; right: 12px; margin-top: -11px;
        &:after { content: ""; display: block; 
            @include sp_form($icon-input-x); 
        }
    }
}

.input_search { position: relative; display:block;
    input { width: calc(100% - 75px);}
    .btn { position: absolute; top:0; right:0; display:inline-block; width:auto; height:45px;
    }
    .input_del { position: relative; width: calc(100% - 75px);
        input { width: 100%;}
    } 
}


.input_unit { position: relative; display: inline-block; width: 100%;
    input { padding-right: 32px; text-align:right; }
    .unit { position: absolute; top:11px; right:15px; 
        font-family:$baseFT; 
        font-size: 14px; font-weight: bold; color:$colorD;  
    }
}
.input_unit.unit2 { position: relative; display: inline-block; width: 100%;
    input { padding-right: 47px; text-align:right; }
    .unit { position: absolute; top:11px; right:15px; 
        font-family:$baseFT;
        font-size: 14px; font-weight: bold; color:$colorD;  
    }
}

//input box
.round_fild{
    width: 100%; height: 43px; line-height: 43px; padding: 0 18px 0; font-size: 14px; color: #222; vertical-align: middle; font-weight: 500; border: 1px solid #ccc; outline: none;background-color: #fff; border-radius: 22px; -webkit-appearance: none; white-space: nowrap; text-overflow: ellipsis; overflow:hidden;
}



/* ======================== textarea  */
textarea { width: 100%;  height: 70px; 
    border: 1px solid #cccccc; padding: 8px 13px 8px; 
    background-color: $formBG;
    -webkit-appearance: none;
    -moz-appearance: none;    
}
.textarea-box { border: 1px solid #cccccc; padding: 8px 13px 8px; 
    background-color: $formBG; -webkit-appearance: none; -moz-appearance: none;    
    textarea { padding:0; border:0; }
    textarea:disabled {  background-color: $formBG_di; }
    .byte_check { margin-top:5px; height: 20px; text-align: right; padding-right: 5px;
        em   { vertical-align: bottom; font-size:12px;  color: $colorP; }    
        span { vertical-align: bottom; font-size:12px; }    
    }
}

label.error {color:$colorP; padding:7px 0; display:block; font-size:15px; font-weight:500; text-align: right;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="checkbox"].chk {position: absolute; top:50%; margin:0; margin-top:-10px; left:0; opacity: 1;width:20px; height:20px; 
}
input[type="checkbox"].chk + label.chk { font-size:13px; color:#222222; padding-left:25px; display:inline-block; font-weight: 400;
	&:after {content:''; @include sp_form($checkbox_off); position: absolute; top:50%; margin-top:-10px; left:0; }
	
}
input[type="checkbox"].chk:checked + label.chk:after {@include sp_form($checkbox_on);}

input[type="radio"].rdo {position: absolute; top:50%; margin:0; margin-top:-10px; left:0; opacity: 1;width:20px; height:20px;  }
input[type="radio"].rdo + label.rdo { font-size:13px; color:#222222; padding-left:25px; display:inline-block; font-weight: 400;
	&:after {content:''; @include sp_form($radio_off); position: absolute; top:50%; margin-top:-10px; left:0; }
	
}
input[type="radio"].rdo:checked + label.rdo:after {@include sp_form($radio_on);}





/* ========================  input file */
.trp.file-box, .file_nonlabel-box { position: relative; 
    label.screen-reader-text { position:absolute; margin:-1px; padding:0; height:1px; width:1px; overflow:hidden; clip:rect(0,0,0,0); border:0; }
    .trp-Filetext { width: 100%; height: $formH; padding: 4px 100px 4px 10px;
        font-size: 12px; vertical-align: middle;   border: 1px solid $lineC_d; outline: none; 
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .btn { position: absolute; top:0px; right:0px; min-width: 95px;  height: $formH; 
        color:#fff; font-size:12px; font-weight: 300; 
        background:#999; border: 1px solid #999; box-sizing: border-box; z-index: 1;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .trp-Filehidden { position: absolute; top:0; left:0; width:100%;  height: $formH;  opacity:0; cursor:pointer; z-index: 1;  }
}
.trp.file_nonlabel-box { display: inline-block;
    .btn { position: relative; top:auto; right:auto; 
        position: relative; padding: 4px 15px 4px 12px;
        background: #fff; border: 1px solid #999999; color: #222222;
        span { display: inline-block; vertical-align: top; margin-top: 2px; }
    }
}

/* ========================  input 검색 */
.select-box.formsearch-box { padding-right: 30px; 
    .select2-container--default .select2-selection--single { border-right: 0; }
}
.formsearch-box { position: relative;  display: inline-block; width:100%; min-width: 120px; /* [0909] min-width: 155px; */ height: $formH;
    &.w_ss { min-width:100px; }
    input { width: 100%;  padding-right: 50px; z-index: 1; border:1px solid $lineC_d;  box-sizing: border-box;}
    .search-btn{ position: absolute;top:0; right:0;  font-size: 0;   
        box-sizing: border-box; z-index: 1;
        width: $formH; height: $formH; border-radius: 0 22px 22px 0;
        &:after { content: "" ; display: block; position: absolute; top:50%; right: 20px; margin-top: -8px; @include sp_form($icon-search); }
    }
}


/* ========================  jQuery datepicker */
.datepicker-box { position: relative;  display: inline-block; width: 100%;
    min-width: 110px; height: $formH;
    
    input { width: 100%;  padding-right: 35px; z-index: 1; background-color: transparent; }
    &:after { content: "" ; display: block; position: absolute; top:11px; right: 17px;
        @include sp_form($icon-calender);
    }
}
.ui-datepicker.ui-widget  { border: 1px solid #f3f3f3;  padding: 0; 
    z-index:10000 !important;  @include shadow(0px, 0px, 25px, 0.05); }
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {  border-radius: 0;  }


// 달력 : 년-월-일
.ui-datepicker { width:300px;
    .ui-datepicker-header { border: 0; border-bottom: 0px solid #f3f3f3; 
        padding: 0px; height: 50px; background-color: $colorMain;
        .ui-icon { background-image: none; }
        .ui-datepicker-prev, .ui-datepicker-next {
            top:20px; width: 22px; height: 22px;
            .ui-icon { position: relative; width: 100%; height:100%; margin: 0; padding: 0;
                top:0; left:0;  border: 1px solid #ef9ca4; border-radius: 2px;
                &::before { content: ""; display: block; width: 6px; height:2px;
                    position: absolute; top:8px; left:8px; 
                    background-color: #ef9ca4; 
                }
                &:after {content: ""; display: block; width: 6px; height:2px;
                    position: absolute; top:12px; left:8px; 
                    background-color: #ef9ca4; 
                }
            }
        }
        .ui-datepicker-prev.ui-state-hover.ui-datepicker-prev-hover, 
        .ui-datepicker-next.ui-state-hover.ui-datepicker-next-hover {
            border: 0; background-color: transparent; 
        }

        .ui-datepicker-prev  {  left:20px; 
            .ui-icon { 
                &::before { @include rotate(-45deg); }
                &:after { @include rotate(45deg); }
            }
        }
        .ui-datepicker-next  { right:20px; 
            .ui-icon {
                &::before {  @include rotate(45deg); }
                &:after { @include rotate(-45deg); }
            }
        }
    }
    .ui-datepicker-title { height: 40px; line-height: 38px;  margin-top: 10px;
        color:#ffffff;
        font-size: Arial; font-size: 24px; 
        .ui-datepicker-month { padding: 0 5px; line-height: 38px; color:inherit;  }
        .ui-datepicker-year  { padding: 0 5px; line-height: 38px; color:inherit;  }
    }
    
    .ui-datepicker-calendar { 
        thead th { padding-top: 10px; background-color: $colorMain; color:#ffffff; }
        tbody {
            tr + tr { td { border-top:$borderLine;}}
            tr {
                td { height: 40px; text-align: center;
                    .ui-state-default { width: 30px; height: 30px; box-sizing: border-box;
                        text-align: center; border: 0; line-height: 1.8;
                        background-color: #fff; color:$colorD; 
                    }
                }
                .ui-datepicker-today  .ui-state-default { 
                    background-color: #999999; color:#ffffff; 
                    border-radius: 50%; border-radius: 50%; }
                .ui-datepicker-week-end:first-child  .ui-state-default { color:$colorP;  }
                .ui-datepicker-week-end.ui-datepicker-today   .ui-state-default { color:#ffffff; }
            }
        }
    }
}

/* 년-월 */
#ui-datepicker-div.js-yy_mm, #ui-datepicker-div.js-yy {
    table.ui-datepicker-calendar { display:none; }
    .ui-datepicker-header { height:65px; 
        .ui-datepicker-title {
            select { font-size: 12px; color:$colorD; line-height: 28px; height: 30px;  }
            .ui-datepicker-month { margin-left: 10px;}
        }
    }
}
#ui-datepicker-div.js-yy { width: 150px;
    .ui-datepicker-header { height:45px; 
        .ui-corner-all { display: none; }
        .ui-datepicker-title { margin: 0 10px;
            .ui-datepicker-month { display: none; }
            .ui-datepicker-year { width: 70%;}
        }
    }
}


/* 커스텀 카운터 인풋 박스 */
.ui-count {position: relative;display:inline-block; border-radius: 0;
	.ui-countTxt {width:60px; padding-right:30px; padding-left:10px;  text-align: right; background: #fff; }
    &:before{content:''; position: absolute; right:1px; top:1px; }
    >a { position: relative;  width:($formH / 2); height:($formH / 2) ; display:block; position: absolute;
        &::after { content: ""; position: absolute; right: 5px; }
    }
    .arrow_up { top:1px; right:0; border-left: 1px solid $lineC_d;
        &::after {  top:7px;  
            border-style: solid; border-width: 0px 4px 5px 4px; height: 0;
            border-color: transparent transparent $colorD transparent;
        }
    }
    .arrow_down { bottom:0px; right:0; border-top: 1px solid $lineC_d; border-left: 1px solid $lineC_d;
        &::after { top:8px;
            border-style: solid; border-width: 5px 4px 0px 4px; height: 0;
            border-color: $colorD transparent transparent transparent;
        }
    }
}

.oneLine {
    input, select, .select-box { display:inline-block;width: auto;}
    input { min-width: 80px; width:110px; }
    .select-box { margin:0  5px;  min-width: 100px; }
}