// relative
.rela{position:relative;}

// 타이틀
.title_ob{padding:35px 0 15px 0; display: flex; flex-direction: row;
    *{display:inline-block; align-self: flex-end;}
    h3{}
    .ex{color:#9b9b9b; font-size:12px; padding-left:5px;}
}

// 보더탑 2px
.bt2{border-top:2px solid #f4f4f4}

// 썸네일 블럭
.icon_block{
    >a.pd_st01{padding:0 10px;}
    >a.pd_st02{padding:0 10px;}
    >a{display:table; width:100%;
        >div{display:table-cell; vertical-align:middle;}
        .icon{width:40%; height:100%; text-align:center;
            >img {width:75px;height:auto;}
        }
        .icon.st2{width:40%; height:100%; text-align:center;
            >img{width:55px;height:auto;}
        }
        .txt{width:60%; height:100%; 
            span{width:90%; height:auto; display:inline-block;}
            // 제목
            .tit_st01{width:auto; background:#7f7f7f; padding:3px 15px; color:#fff; border-radius:15px; }
            .tit_st02{padding-top:10px;font-size:14px;}
            .tit_st03{font-size:20px; font-weight:bold;}
            .tit_st04{width:auto; font-size:15px; font-weight:bold; display:inline-block;}
            .tit_st05{font-size:20px; font-weight:bold; color:$colorS;}

            // 부제
            .subj_st01{padding-top:2px; font-size:18px; font-weight:bold; line-height:20px;}
            .subj_st02{font-size:15px; padding-top:7px;}
            .subj_st03{width:auto; font-size:15px; padding-top:7px;}
            .subj_st04{font-size:20px; padding-top:4px; font-weight:bold;
                em{font-size:15px;}
                em:last-child{font-weight:bold;}
            }
        }
    }
}

// 썸네일 블럭 배너
.banner_txt{
    background:#fff; border-radius:10px; width:100%; box-shadow: 0px 0px 10px 5px #efefef; 
    .icon_block{
        >a{padding:20px 0;}
    }
}

// 썸네일 블럭 슬라이드1
.ptdt_txt_slide{ position:relative;
    .ptdt_txt_slide_wrap{border-radius: 12px; overflow: hidden; width:100%; box-shadow: 0px 2px 3px #dadada ; 
        li{background:#fff; height:auto;
            .icon_block{
                >a{padding:30px 0;}
            }
        }
    }
}
.prdt_page_num{position:absolute; left:0; top:0; color:#fff; font-size:12px; text-align:center; padding-bottom:15px; letter-spacing:2px;}

// 썸네일 블럭 슬라이드2
.prdt_view_slide_bnr{ 
    height: 100%;
    margin:0 0 0 16px;  
    .swiper-container{height:auto;}
    .swiper-slide{width:70%;
        >div {background:#fff; border-radius: 15px; width:auto; box-shadow: 0px 0 0 #d3d3d3 ; }
    }
    .swiper-slide-active{
        >div{
            box-shadow: 0px 0px 0 0 $colorSub ; 
        }
    }
}

// 테이블 스타일    
.table_wrap{position:relative; padding:10px 0; background:#fff; border-radius: 10px; 
    .desc{text-align:center; padding:13px 0;
        >span {padding-left:5px;}    
    }
    table{width:100%; 
        thead {
            th{padding:7px 10px; border-top: 2px solid #f4f4f4;}
        }
        tbody{
            th{font-weight:normal;}
            tr:first-child{
                td,th{}
            }
            
            td,th{padding:7px 10px; font-size:15px;  text-align:center;}
            tr.bt {
                td,th{border-top: 2px solid #f4f4f4;padding-top:15px;}
            }
        }
        .alil{text-align:left; padding-left:25px;}
        .alir{text-align:right; padding-right:25px;}
    }
}

// 텍스트스타일
.txt_st1{font-weight:bold; color:$colorS;
    em{font-size:13px; font-weight:normal; padding-left:3px;}
}

// show_hide 블럭
.ud_area{
    .ud_btn{position:relative; padding:0 20px;}
    .ud_btn:after{content:''; display:block; position:absolute; right:20px; top:50%; margin-top:-3px; @include sp_icons($arrow_up_md); transform :rotate(180deg);}
    .ud_btn.on:after{content:''; @include sp_icons($arrow_up_md); transform :rotate(0deg);}
    .ud_content{position:fixed; left:-9999px; top:0; opacity: 0;}
    .ud_content.on{position:relative; left:0; opacity:1;}
} 
 
// 서브 픽스 메뉴
.sub_menu_fix{
    margin-top:20px; 
    .fix_area{ width:100%; height:66px; background:#fff; padding:0 15px; font-size:18px; background:#fff; white-space: nowrap; overflow-y: hidden; overflow-x: scroll; 
        >ul{
            >li{
                display:inline-block;  border-bottom:3px solid #fff; white-space: nowrap;
                >a{display:block; padding:20px 10px;}
            }
            >li.on{
                border-bottom:3px solid #fe0000; font-weight:bold;
            }
        }
    }
}

// 우상단 바로가기 버튼
.link{position:absolute; right:20px; top:40px; font-size:14px; font-weight:normal;
    >span{padding-right:4px;}
}
.link:after{content:''; width:6px; height:11px; display:inline-block; @include sp_icons($arrow_right);}

