/* ================== 로그인 ========================= */

.join_title {
  .tit_desc {font-size:15px; font-weight: 300;}
}

.join_type {
  li { padding:35px 24px; text-align: center; border-top:10px solid #efefef; position: relative;
    .txt {font-size:15px; margin-bottom:15px; line-height: 24px; font-weight: 500;}

    .coming { padding:0px 0 45px;
      .txt1 {padding:0px 20px; line-height: 45px; height:45px; margin-top:15px; display:block; background:#c8c8c8; font-weight: 400; color:#fff; font-size:15px;}
      .txt2 {display:block;  
        img {width:232px;}
      }
      .txt3 {display:block;  color:#000; font-size:15px; margin-top:10px;}
    }
  }
}
.profile_photo_wrap {width:160px; margin: 0 auto; position: relative;
    .profile_photo { border-radius: 80px; width:160px; height:160px; overflow: hidden;
        img { width:160px; }
    }
    .pf_photo_change {font-size: 0; position: absolute; bottom:2px; right:-3px; width:50px; height:50px; 
        &:after {content:''; @include sp_icons($ic_set_profile); display:block; }
    }
}
.profile_alert_txt {margin-top:30px; height:20px; color:$colorP; font-size:15px; text-align: center;}
.profile_later_wrap {margin-top:50px; text-align: center;
  .later_link {font-size:17px; display:inline-block; padding:10px;}
}
.agree_all_warp {padding-bottom:18px;
  background: url('/resources/images/common/dot_line_hor.png') repeat-x bottom left; background-size:4px 1px;
  label.chk {font-weight: 700 !important;}
}
.agree_list {
  &.chk_abs li{ padding-left:35px;
    label, input {position: absolute !important; left:0; top:13px; }
  }
  li { margin-top:18px; position: relative;
    
    p {font-size:15px; font-weight: 300; line-height:25px; display:inline-block; vertical-align: top; 
      a {font-weight: 500; border-bottom:1px solid #000;}
    }
    .agree_view { position: absolute; right:0; top:50%; margin-top:-14px;  padding:10px;
      &:after {content:''; position: relative;@include sp_icons($arrow_more2); display:block;}
    }
  }
}
.agree_options { text-align: center; margin-top:18px;
  li {display:inline-block; padding:0 6px;
    label {font-size:13px !important;}
  }
}
input[type="radio"].type_btn_radio {
  position: absolute; opacity: 0; width:1px; height:1px;
}
input[type="radio"].type_btn_radio:checked + label {
  background:url('/resources/images/common/point_bg.jpg'); background-size: 100% 100%; color:#fff; text-align: center; border:none;
  padding: 0px; height:45px; line-height: 45px;  min-width: auto;  font-size: 15px;
  display:block;  font-weight: 500;
}

input[type="radio"].type_btn_radio + label {
  background:#f5f5f5; border:1px solid #f5f5f5; color:#999999; text-align: center;
  padding: 0px; height:45px; line-height: 45px;  min-width: auto;  font-size: 15px;
  display:block; font-weight: 500;
}

.join_cert_list {
  li {margin-top:8px;
    &:first-child {margin-top:0;}
  }
  .join_cert_1 { @include clearfix();
    .item { float:left; position: relative;
      &:nth-child(1) {margin-right:8px;}
      &:nth-child(2) {margin-right:8px;}
    }
    .item1 { width:calc(100% - 150px);}
    .item2 {width:67px;}
    
  }
}

.link_btn { 
  a {font-size: 15px; color:#ff5c5c; }
}
  /* // ================== 로그인 ========================= */