/* ================== 로그인 ========================= */
.login {
    .login_box {
        dt {margin-bottom:10px;
            label {font-size:15px; color:#222; font-weight: 500;}
        }
        dd{margin-bottom:20px;}
    }
    .login_logo {width:190px;} 
    .login_txt { padding-top:15px; padding-bottom:45px; color:#666; font-size:14px;}
} 
  /* // ================== 로그인 ========================= */