/* header.scss */
.main_header { height:55px; width:100%; padding-left: 25px;
	.h1_logo { font-size: 0; position:absolute; left:25px; top: 17px; display:inline-block; @include sp_icons($h1_logo);
		a { display:block; height:100%;}
	}
	.location_top { position: absolute; right:25px; top:20px; font-size: 12px; 
		&::before { content: ''; display:inline-block; vertical-align:middle; margin:-2px 0 0 2px; @include sp_icons($icon_location); }
	}
}

.main {
    section.main_card { margin-left: 25px;margin-bottom:20px;
        .big_banner { overflow: hidden; position: relative;
            img { width: 100%;}
            .fix_text { position:absolute; right:18px; top:24px;}
            .txt { position:absolute; left:32px; bottom:30px; color:#fff; font-size: 19px; font-weight: 300; line-height: 26px;
                em { display:block; @include sp_icons($icon_logo_w); margin-bottom: 9px;}
                b { display:block; font-weight: 700;}
            }
        }
    } 

    //메인section
    section { 
        &.fixbtn { position: relative; padding-left: 23px;
            .btn_more { position: absolute; right:25px; top:0;}
            .h2 { margin-left: 2px;}
            .slider_wrap { overflow:visible;}
        }
        &.row_bar { padding-top: 40px; position: relative;
            &::before { content:''; display:inline-block; width:1px; height: 30px; background:#000; position:absolute; left:27px; top:0;}
            .btn_more { position: absolute; right:25px; top:40px;}
        
        }
        &.cont_inner { margin-left: 25px;}
        .h2 { margin:0 0 10px 25px;}

        //추천배경
        &.bg_box { position: relative; padding-top: 25px;
            &::before { content:''; display:inline-block; position:absolute; left:0; top:0; width:174px; height:285px; background:#F0E1E2; z-index:-1;}
            .btn_more { top:25px;}
        }
        
    }
}

//키메뉴리스트
.key_list_box { position: relative; padding-bottom: 17px; display:inline-block; width: 100%;
    &::before { content:''; display:inline-block; position: absolute; left: 25px; bottom:0; right:0; height: 3px; background:#000;}
    .key_list { display:block; margin: 0 15px 0 5px;
        li { float:left; width: 33.333333%;
            a { display:block; font-weight: 500; text-align:center; padding-top: 48px;
                &.beauty { background:url('/resources/images/common/icon_beauty.png') no-repeat center top; background-size: 27px 38px;}
                &.healing { background:url('/resources/images/common/icon_healing.png') no-repeat center top; background-size: 37px 38px;}
                &.homept { background:url('/resources/images/common/icon_homept.png') no-repeat center top; background-size: 28px 33px;}
            }
        }
    }
}

//thumllist 
.thum_list { display: block;
    li { width: 150px; overflow: hidden;
        a { display:block;}
        span { font-size: 11px; vertical-align: middle;}
        .info_box { padding-left: 7px;}

        .img { height: 150px; overflow: hidden; margin-bottom: 9px; position: relative; margin-left: -7px;
            img { width: 100%; height:100%;}
            .icon_label { position: absolute; right:6px; top:6px; z-index: 1;}
        }
        
        //리스트정보
        .thum_list_info { display:block;
            .title { font-size:15px; font-weight: 500; line-height: 20px; word-break: keep-all; margin-bottom: 5px; letter-spacing: -1px; 
                span { font-size:12px; font-weight: 300; display:block; margin-bottom: 3px; }
            }
        }
            
        .type { display:block; 
            span { position: relative; padding-left: 6px; margin-left: 3px;
                &::before { content: ''; display:inline-block; position: absolute; left:0; top: 50%; width:1px; height:1px; background:#000; }
                &:first-child {  padding-left:0; margin-left:0;
                    &::before { display:none;}
                }
            }
        }
        .type2 { 
            span { color:#777; margin-right: 10px;}
        }
        
        //좋아요버튼
        .btn_like { font-weight: 500; color:#000; position: relative; display:inline-block; padding: 0 0 0 20px; margin:9px 0 0; font-size: 13px; 
            &::before { content:''; display:inline-block; position: absolute; left:0; top:50%; margin-top:-6px; @include sp_icons($icon_like); }
            &.on {
                &::before {  @include sp_icons($icon_like_on); }
            }
        }
        
    }

    //추천사이즈
    &.big_type {
        li { width: 230px; position: relative;
            span { font-size: 12px ; }
            .img { height: 230px; overflow: hidden; }
            .thum_list_info { 
                .title { font-size:18px; line-height: 24px; font-weight: 700;}
            }
            .type2 { margin: 3px 0 0; }
            .btn_like { position: absolute;  right:10px; bottom:0; z-index: 1; font-size: 15px; padding-left:22px;
                &::before {@include sp_icons($icon_like_b); margin-top:-7px;}
                &.on {
                    &::before {  @include sp_icons($icon_like_on_b); }
                }
            }
        }
    }
}

//베너존
.banner_zone { margin:0 0 0 25px; display:block;
    a { display:block; 
        img { width: 100%;}
    }
}