@charset "utf-8";
/* common.scss */
@import "common/variables";
@import "common/fonts"; 

// nomalize
@import "common/normalize";
@import "lib/mixin";

@import "common/base_pc";




/* 200130 수정 s*/

.btn {  position: relative; box-sizing: border-box; 
    display: inline-block; padding:5px 10px 5px; min-width: 68px;
    margin-bottom: 0; font-size: 15px;
    line-height: 1.42857143;text-align: center;
    letter-spacing: -0.5px; white-space: nowrap; vertical-align: middle;
    -ms-touch-action: manipulation;touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
    user-select: none; background-image: none;
    border: $borderLine;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}
.btn:disabled { @include opacity(0.5); pointer-events:none; }

.btn.btn_default { 
    background:#fff; border:1px solid #fff; color:#000;
}
.btn.btn_point3 { 
    background:#ff5c5c; border:1px solid #ff5c5c; color:#fff;
}
.btn.btn_line_default {
    color:#000; background:transparent; border:1px solid #000;
}
.btn.btn_round { border-radius: 22px; }
.btn.btn_md { padding: 0px 30px; height:36px; font-weight: 300; line-height: 36px;  min-width: auto;  font-size: 14px; 
    &.btn_round { border-radius: 18px;}
}
.btn.btn_lg { padding:0 10px;  font-size: 16px; font-weight: 500; line-height: 60px; height:60px;
    &.btn_round { border-radius: 30px;}
}
.btn.btn_sm { padding: 6px 15px 7px;   min-width: auto;  font-size: 14px; }

/* 200130 수정 e*/

.header { position:fixed; width:100%; top:0; left:0; height:80px; z-index: 1111;
    .logo {position: absolute; left:60px; top:20px; }
    .util {position: absolute; right:60px; top:20px; }
    /* 200130 삭제
    .util {position: absolute; right:60px; top:20px;
        .util_txt {font-size:16px; color:#000; font-weight: 700; margin-right:10px;}
        .btn_round {margin-left:10px; height:36px; border-radius: 18px; text-align: center; width:120px; display:inline-block; 
            
            span {position:relative; line-height: 36px;  font-size: 14px; color:#000; display:inline-block; padding-left:22px;
                &:after {content:''; position: absolute; left:0; top:50%; margin-top:-9px; width:15px; height:18px; }
            }
        }
        .btn_ios span:after {background: url('/resources/images/intro/logo_ios_sm.png');}
        .btn_android span:after {background: url('/resources/images/intro/logo_android_sm.png');}
    }
    */
}

.toyou_wrap {background:url('/resources/images/intro/pc_bg.jpg'); background-size:100%;
    transition: 1s cubic-bezier(0.3, 0, 0.3, 1); background-repeat: no-repeat;
}

.sm_section { position: relative;
    .sm_inner{ margin:0 auto; width: 1000px; position: relative; height:100%; opacity: 0; transition: .3s opacity;
        .sm_tit {font-size:50px; font-weight: 700; color:#000; line-height: 62px;
            b {color:#ff5c5c;}
        }
        .sm_txt { font-size:26px; font-weight: 500; color:#000;line-height: 40px;}
        .sm_txt_sm { font-size:20px; font-weight: 500; color:#000;}
        .btn_box {width:550px; margin:0 auto;}
        .btn_round {position: relative; height:60px;font-weight:500; transition: .2s all; border-radius: 30px; text-align: center; width:270px; background:#fff; display:block; float:left; @include shadow(5px, 5px, 20px, 0.05); 
            &:first-child {margin-right:10px}
            span {position:relative; line-height: 60px;  font-size: 16px; color:#000; display:inline-block; padding-left:36px;
                &:before {content:''; transition: .2s all; opacity:1; position: absolute; left:0; top:50%; margin-top:-14px; width:24px; height:27px; }
                &:after {content:''; transition: .2s all; opacity:0; position: absolute; left:0; top:50%; margin-top:-14px; width:24px; height:27px; }
            }
            &:hover {
                background: #ff5c5c; 
                span {
                    &:before {opacity:0; }
                    &:after {opacity:1; }
                }
            }
        }
        .alert { display:none; 
            img {display:inline-block; margin-top:-20px; @include shadow(5px, 5px, 20px, 0.05);  }
        }
        .btn_ios span:before {background: url('/resources/images/intro/logo_ios.png');}
        .btn_android span:before {background: url('/resources/images/intro/logo_android.png');}
        .btn_ios span:after {background: url('/resources/images/intro/logo_ios_over.png');}
        .btn_android span:after {background: url('/resources/images/intro/logo_android_over.png');}
    }
    .descript.pos_md {position: absolute; top:50%;}
}
.partners_list { @include clearfix(); text-align: center;
    li {display:inline-block; margin-left:80px; 
        &:first-child {margin-left:0;}
    }
}
.user_list { @include clearfix(); margin-top:130px;
    li {float:left; width:310px; background:#fff; position: relative; padding:65px 32px 32px; margin-left:20px; @include shadow(0px, 0px, 25px, 0.1); 
        &:first-child {margin-left:0;}
        .photo_wrap {position: absolute; top:-50px; left:50%; margin-left:-50px; border-radius: 50px; overflow: hidden;
            img {width:100px; height:100px;}
        }
        .name {text-align: center; font-size:16px; font-weight: 700;}
        .cont{ font-size:16px; margin-top:35px; }
    }
}

.toyou_page0 {
    .sm_inner {min-height: 700px;}
    .descript {position: absolute; top:50%; margin-top:-300px; width:100%;}
    .motion_wrap {
        position: absolute; bottom:0; width:100%; height: 0;

        .m_cont {position: absolute; background:#fff; overflow: hidden; bottom: 0;left: 50%;margin-left: -194px;height: 607px;
            img {margin-top:0; }
        }
        .m_case {position: absolute; bottom:0;  text-align: center; width:100%;}
    }
    &.fp-completely .motion_wrap .m_cont img {
        -webkit-animation-name: ani0; 
        -webkit-animation-duration: 26s; 
        animation-name: ani0;
        animation-duration: 26s;
        animation-timing-function: cubic-bezier(0.2, 0, 1, 1);
        animation-iteration-count: infinite;
    }
}

.toyou_page1 {
    .motion_wrap {
        position: absolute; top:50%;  left:50%;
        .m_cont {position: absolute; top:0; margin-top:-283px; background:#fff; overflow: hidden; height: 534px; margin-left:88px;
            img {margin-top:0; }
        }
        .m_case {position: absolute; top:0; margin-top:-370px; }
    } 
    /*
    &.fp-completely .motion_wrap .m_cont img {
        -webkit-animation-name: ani1; 
        -webkit-animation-duration: 14s; 
        animation-name: ani1;
        animation-duration: 14s;
        animation-timing-function: cubic-bezier(0.2, 0, 1, 1);
        animation-iteration-count: infinite;
    }*/
}
.toyou_page2 {
    .descript {margin-left:570px;}
    .motion_wrap { position: absolute; top:50%;  right:50%;
        .m_case {position: absolute; top:0; right:0; margin-top:-370px; }
    }
}

.toyou_page3 {
    .sm_inner {min-height: 700px;}
    .descript {
        position: absolute; top:0; width:100%; margin-top:100px;
    }
    .motion_wrap {
        position: absolute; top:50%;  left:50%; margin-top:100px;
        .m_cont {position: absolute; top:0; margin-left:-155px; margin-top:-283px; background:#fff; overflow: hidden; height: 534px;
            img {margin-top:0;}
        }
        .m_case {position: absolute; top:0; margin-left:-241px; margin-top:-370px; }
    } 
    
    
    &.fp-completely .motion_wrap .m_cont img {
        -webkit-animation-name: ani1; 
        -webkit-animation-duration: 12s; 
        animation-name: ani1;
        animation-duration: 12s;
        animation-timing-function: cubic-bezier(0.2, 0, 1, 1);
        animation-iteration-count: infinite;
    }
}
.rel {position: relative;}
.toyou_page4 {
    .sm_inner {min-height: 900px;}
    .video_wrap { height:480px; width:820px; margin:50px auto 0; background:url('/resources/images/intro/pc_video_poster_bg.jpg') no-repeat right bottom; 
        .video_play {position: absolute; top:50%; margin-top:-45px; left:50%; margin-left:-45px; display:block; width:91px; height:91px; background: url('/resources/images/intro/btn_video_start.png');
            &.on { background-position-x: -91px;}
        }
    }
}
.toyou_page5 {
    .sm_inner {min-height: 900px;}
}
.toyou_page6 {
    .sm_inner {min-height: 900px;}
}
.toyou_page7 {
    .sm_inner {min-height: 900px;}
}
.w100p {width:100%;}

#footer { position: absolute; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #dddddd;

    .footer-inner {
        .logo {position: absolute; left:60px; top:30px;}
    }
    .footer_desc {padding:30px 60px; float:right;
        .foot_list { @include clearfix();
            li { font-size:14px; color:#000; padding : 0 13px; float:left; position: relative; line-height: 1.5;
                &:after {content:''; width:1px; height:10px; background:#999; position: absolute; left:0; top:50%; margin-top:-5px;}
                &:first-child {padding-left:0; 
                    &:after {display:none;}
                }
            }
        }
        .caution_txt { font-size:14px; color:#666;}
    }
}

.fixed_btns{ position:fixed; right:40px; bottom:100px; height:177px;
    .chat {width:80px; height:80px; display:block; background:url('/resources/images/intro/exp_ic_chat.png');}
    .top {width:80px; height:80px; display:block; background:url('/resources/images/intro/exp_ic_top.png');  margin-top:17px;}
}



@-webkit-keyframes ani0 {
    0% {opacity:1;margin-top:0;}
    4% {opacity:1;margin-top:0;}
    92% {opacity:1;margin-top:-1400px;}
    96% {opacity:0;margin-top:-1400px;}
    97% {opacity:0;margin-top:0px;}
    100% {opacity:1;margin-top:0px;}
}
  
@keyframes ani0 {
    0% {opacity:1;margin-top:0;}
    4% {opacity:1;margin-top:0;}
    92% {opacity:1;margin-top:-1400px;}
    96% {opacity:0;margin-top:-1400px;}
    97% {opacity:0;margin-top:0px;}
    100% {opacity:1;margin-top:0px;}
}


@-webkit-keyframes ani1 {
    0% {opacity:1;margin-top:0;}
    4% {opacity:1;margin-top:0;}
    92% {opacity:1;margin-top:-400px;}
    96% {opacity:0;margin-top:-400px;}
    97% {opacity:0;margin-top:0px;}
    100% {opacity:1;margin-top:0px;}
}
  
@keyframes ani1 {
    0% {opacity:1;margin-top:0;}
    4% {opacity:1;margin-top:0;}
    92% {opacity:1;margin-top:-400px;}
    96% {opacity:0;margin-top:-400px;}
    97% {opacity:0;margin-top:0px;}
    100% {opacity:1;margin-top:0px;}
}